{%  extends "base.html" %}
<body>
    {% block dynamiccontent %}
    <div>
        {% if success %}
            {{ success }}
        {% endif %}
        <form action="/signin" method="post" enctype="multipart/form-data">
            <input type="email" style="height: 2em; width:18em" name="emailid" id="emailid" placeholder="Enter your email Id"><br>
            <br>
            <input type="password" style="height: 2em; width:18em"  name="password" id="password" placeholder="Enter your password"><br>
            <br>
            <input type="submit" style="height: 2em; width:18.7em; background-color: rgb(121, 121, 229); color:white"  name="submitbutton" value="Signin">
        </form>
    </div>
    {% endblock %}
</body>
